/*//META{"name":"YoRHa","description":"A Better Discord theme designed with the same principles as the UI from NieR: Automata.","author":"Monkey","version":"0.1.0","website":"https://github.com/ChaseIngebritson/YoRHa-Discord-Theme","source":""}*//**/

/*
    background-color: #C8C2AA;
    color: #4D493E;
    border-color: #4D493E;
*/

.appMount-3VJmYg /* Background */ {
    background: url(https://i.imgur.com/PmYI9Mu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.guildsWrapper-5TJh6A /* Sidebar */ {
    width: 150px;
    margin-right: 20px;
}

.scrollerWrap-1IAIlv /* Sidebar scroll wrapper */ {
    width: 100%;
}

.guilds-1q_RqH /* All server icons */ {
    padding-left: 0;
}
.guilds-1q_RqH::-webkit-scrollbar /* Server icon scrollbar */ {
    display: none;
}

/* ===== Guild icon ===== */

.guild-1EfMGQ /* Individual icon */ {
    height: 35px;
    overflow: hidden;
    width: 100%;
    background: #C8C2AA;
    border: 1px solid transparent;
    margin-top: 15px !important;
    transition: all 0.2s;
}
.guild-1EfMGQ > div,
.guild-1EfMGQ .guildInner-3DSoA4,
.guild-1EfMGQ .guildInner-3DSoA4 a {
    height: 100%;
    width: auto;
}
.guild-1EfMGQ .guildInner-3DSoA4 /* Guild image container */ {
    border-radius: 0 !important;
}
.guild-1EfMGQ .guildIcon-CT-ZDq /* Guild image */ {
    height: 100%;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s;
    filter: sepia(75);
}

.guild-1EfMGQ:hover {
    background-color: transparent;
    border-color: #4D493E;
    color: #C8C2AA;
}
.guild-1EfMGQ:hover .guildInner-3DSoA4::before{
    width: 100%;
}

.guild-1EfMGQ .guildInner-3DSoA4::before /* Black bar */{
    content: "";
    position: absolute;

    left: 0;
    top: 3px;
    bottom: 3px;
    width: 0;
    background-color: #4D493E;
    transition: width .2s;
    z-index: -1;
}

/* ===== Currently selected guild ===== */

.guild-1EfMGQ.selected-ML3OIq /* Icon container */ {
    border-color: #4D493E;
    background-color: transparent;
}
.guild-1EfMGQ.selected-ML3OIq .guildIcon-CT-ZDq /* Icon picture */ {
    filter: sepia(0%);
}
.guild-1EfMGQ.selected-ML3OIq .guildInner-3DSoA4::before /* Icon black bar */ {
    width: 100%;
}


/* ===== Home icon ===== */

.guild-1EfMGQ:nth-child(1) /* Home icon */ {
    width: 67px;
    height: 75px;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;

    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.guild-1EfMGQ:nth-child(1).selected-ML3OIq /* Home icon selected */,
.guild-1EfMGQ:nth-child(1):hover /* Home icon hover */ {
    border-color: transparent;
    animation: none;
}
.guild-1EfMGQ:nth-child(1).selected-ML3OIq .guildInner-3DSoA4::before, /* Home icon selected black bar */
.guild-1EfMGQ:nth-child(1):hover .guildInner-3DSoA4::before /* Home icon hover black bar */ {
    width: 0;
}

.guild-1EfMGQ:nth-child(1) a /* Home icon link */ {
    background-image: url(https://i.imgur.com/yyiIoTm.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.guild-1EfMGQ:nth-child(1) svg /* Home icon Discord svg */ {
    display: none;
}

@keyframes spin /* Spin animation */ {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

/* ===== Guild Public icon ===== */

.guild-1EfMGQ:nth-child(2) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-left-color: transparent;
    border-right-color: transparent;
}
.guild-1EfMGQ:nth-child(2) a {
    color: #4D493E !important;
}
.guild-1EfMGQ:nth-child(2):hover a {
    color: #C8C2AA !important;
}

/* ===== Guild Friends online ===== */

.friendsOnline-_wi_fM {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: #4D493E !important;
}

/* ===== Guild DMs ===== */

.dms-rcsEnV {
    background-color: #4D493E;
}
.dms-rcsEnV > .guild-1EfMGQ  {
    animation: none;
    height: 35px;
    width: 100%;
}
.dms-rcsEnV .badge-1GsMF2 {
    margin-right: auto;
    margin-left: auto;
    width: 0%;
    padding-right: 56% !important;
}

/* ===== Guild seperator ===== */

.guildSeparator-1X4GQ1 {
    display:none;
}

/* ===== Notifications ===== */

.wrapper-232cHJ /* General notification */ {
    background-color: #4D493E;
    color: #C8C2AA;
}
.guild-1EfMGQ .wrapper-232cHJ /* Notification inside guild */ {
    padding-top: 15px;
    bottom: -15px;
    padding-right: 9px;
}

/* ===== New guild ===== */

.guildsAdd-21_IdK /* Initial icon */ {
    border-radius: 0;
    background-color: #C8C2AA !important;
    color: #4D493E !important;
    border: 1px solid transparent !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}
.guildsAdd-21_IdK::before /* Icon black bar */ {
    content: "";
    position: absolute;

    left: 0;
    top: 3px;
    bottom: 3px;
    width: 0;
    background-color: #4D493E;
    transition: width .2s;
}
.guildsAdd-21_IdK:hover /* Initial icon hover */ {
    border-color: #4D493E !important;
    background-color: transparent;
    color: #C8C2AA !important;
}
.guildsAdd-21_IdK:hover::before /* Icon black bar hover */ {
    width: 100%;
}

.guildsAddInner-1KMFy- /* Icon inner text */ {
    top: -5px;
}

/* ===== Tooltips ===== */

.tooltip {
    background-color: #4D493E !important;
    color: #C8C2AA !important;
}
.tooltip.tooltip-top::after {
    border-top-color: #4D493E !important;
}
.tooltip.tooltip-bottom::after {
    border-bottom-color: #4D493E !important;
}
.tooltip.tooltip-right::after {
    border-right-color: #4D493E !important;
}
.tooltip.tooltip-left::after {
    border-left-color: #4D493E !important;
}

/* ===== Guild speaking icon ===== */

.guild-1EfMGQ.audio-3vVhBi .guildInner-3DSoA4:after,
.guild-1EfMGQ.video-15yGu3 .guildInner-3DSoA4:after {
    right: 20px !important;
    top: 5px !important;
    background-color: #4D493E !important;
}

/* ===== Guild placeholder ===== */

.guildPlaceholder-1ioaid {
    border-radius: 0;
    border: none;
    background-color: #4D493E;
}

/* ===== Windows buttons ===== */

.winButtonClose-1HsbF- svg polygon /* Close button */ {
    fill: #4D493E;
}
.winButtonClose-1HsbF-:hover /* Close button hover */ {
    background-color: #4D493E;;
}
.winButtonClose-1HsbF-:hover svg polygon /* Close button hover icon */ {
    fill: #C8C2AA;
}

.winButtonMinMax-PBQ2gm svg[name="TitleBarMaximize"] rect /* Maximize button */ {
    stroke: #4D493E;
}
.winButtonMinMax-PBQ2gm:hover svg[name="TitleBarMaximize"] rect /* Mazimize button hover */{
    stroke: #C8C2AA;
}

.winButtonMinMax-PBQ2gm svg[name="TitleBarMinimize"] rect /* Minimize button */ {
    fill: #4D493E;
}
.winButtonMinMax-PBQ2gm:hover svg[name="TitleBarMinimize"] rect /* Minimize button hover */ {
    fill: #C8C2AA;
}

/* ===== Wordmark ===== */

.wordmark-2iDDfm svg path {
    fill: #4D493E;
}
.titleBar-AC4pGV::after {
    color:#fff;
    position:absolute;
    left:0
}

/* ===== Unread message indicator ===== */

.unread-1xRYoj {
    box-shadow: none !important;
}

/* ===== Channel container ===== */

.container-PNkimc /* Container background */ {
    background-color: #C8C2AA !important;
}

.header-2o-2hj /* Container header */ {
    background-color: #4D493E !important;
    color: #C8C2AA;
    box-shadow: none;
    border-right: 1px solid #C8C2AA;
}

.header-2o-2hj svg g path:nth-child(2),
.header-2o-2hj svg g path:nth-child(3) {
    stroke: #C8C2AA;
}

/* ===== Channels ===== */

.content-20Aix8 /* Channel containers */ {
    margin-left: 0;
    border-radius:0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.content-20Aix8::before /* Channel containers black bar */ {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    bottom: 3px;
    width: 0;
    background-color: #4D493E;
    transition: width .2s;
}

.content-20Aix8.contentSelectedText-3wUhMi, /* Selected channel */
.content-20Aix8:hover,
.contentConnectedVoice-qL-YrL {
    border-color: #4D493E;
    background-color: transparent;
}
.content-20Aix8.contentSelectedText-3wUhMi::before, /* Selected channel black bar */
.wrapperConnectedVoice-2mvQJY,
.content-20Aix8:hover::before,
.contentConnectedVoice-qL-YrL::before {
    width: 100%;
}

.nameConnectedText-3CzNQn,
.nameConnectedVoice-MHUX5F,
.nameSelectedText-sp_EUw,
.nameSelectedVoice-1qSph5,
.nameDefaultText-24KCy5,
.nameDefaultVoice-3WUH7s,
.nameLockedText-3pqQcL,
.nameLockedVoice-26MhB1,
.nameHoveredText-1uO31y,
.nameHoveredVoice-YJ1Vfd,
.nameUnreadText-DfkrI4,
.nameUnreadVoice-EVo-wI /* Text and voice channel name */ {
    z-index: 2;
    color: #4D493E;
}

.nameSelectedText-sp_EUw,
.nameSelectedVoice-1qSph5,
.nameHoveredText-1uO31y,
.nameHoveredVoice-YJ1Vfd,
.nameConnectedText-3CzNQn,
.nameConnectedVoice-MHUX5F,
.content-20Aix8:hover .nameUnreadText-DfkrI4,
.content-20Aix8:hover .nameUnreadVoice-EVo-wI /* Active text and voice channel name */ {
    color: #C8C2AA;
}

/* ===== Channel groups ===== */

.nameCollapsed-34uFWo,
.nameDefault-2DI02H,
.nameHovered-1gxhWH,
.nameHoveredCollapsed-2orEWB,
.nameMuted-1MCOt4,
.nameUnread-njOjIS {
    color: #4D493E;
}

.iconDefault-3Gr8d2 path,
.iconHovered-2L3-fB path,
.iconHoveredCollapsed-3caIIZ path,
.iconMuted-1HVBGH path,
.iconUnread-2eGkvX path,
.iconCollapsed-3hFp_8 path {
    fill: #4D493E;
}


/* ===== User name ===== */

.name-2upRM5 {
    color: #4D493E;
}

/* ===== Icons ===== */

.icon-3nr6O- path, /* Mute */
.icon-29PTzq path, /* Deafen */
.icon-sxakjD path /* Speaker / Pound */ {
    fill: #4D493E;
    opacity: 1;
}

.colorConnectedText-1c_uzY path,
.colorConnectedVoice-3kyvUN path,
.colorHoveredText-OZnAgu path,
.colorHoveredVoice-1kucsK path,
.colorLockedText-1VRkPt path,
.colorLockedVoice-2UlBjl path,
.colorSelectedText-1y4Wvs path,
.colorSelectedVoice-Xcb_9R path,

.actionIcon-2Hi9ZG svg path /* Invite icon */ {
    fill: #C8C2AA;
}

/* ===== Connection status ===== */

.container-1UB9sr /* Connection container */ {
    background-color: #4D493E !important;
    border-color: #C8C2AA;
}

.channel-SEolQq /* Channel Name */ {
    color: #C8C2AA !important;
}

/* ===== User / Settings ===== */

.container-2Thooq /* Container */ {
    background-color: #4D493E !important;
}

.username {
    color: #C8C2AA;
}

/* ===== Content text ===== */

.markup-2BOw-j {
    color: #4D493E !important;
}

/* ===== Content header ===== */

.titleWrapper-1l0xT9 /* Background */ {
    background-color: #4D493E;
}

.title-3qD0b- {
    box-shadow: none !important;
}

.channelName-3stJzi /* Name */ {
    color: #C8C2AA !important;
}

.channelName-3stJzi svg path, /* Pound icon */
.iconMargin-2YXk4F svg[name="NotificationBell"] g path,
.iconMargin-2YXk4F svg[name="NotificationBellOff"] g path,
.iconMargin-2YXk4F svg[name="Pin"] g path.iconForeground-3y9f0B,
.iconMargin-2YXk4F svg[name="People"] g path,
.iconMargin-2YXk4F svg[name="Mention"] path,
.iconMargin-2YXk4F svg[name="QuestionMark"] path {
    fill: #C8C2AA;
}

/* ===== Content body ===== */

.timestampCozy-2hLAPV {
    color: #4D493E !important;
}

.chat .divider > span,
.chat .divider:before /* Divider */ {
    color: #C8C2AA !important;
    background-color: #4D493E !important;
    border-radius: 0;
}

/* ===== Content scrollbar ===== */

.scroller-wrap .scroller::-webkit-scrollbar {
    height: 8px;
    width: 5px;
}

.scroller-wrap .scroller::-webkit-scrollbar-corner {
    background-color: transparent;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    background-color: rgba(32,34,37,.6);
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: move;
}

.scroller-wrap .scroller::-webkit-scrollbar-track {
    visibility: hidden;
    background-clip: padding-box;
    border-radius: 7.5px;
    border-style: solid;
    background-color: transparent;
    border: 3px solid transparent;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}

/* ===== Content form ===== */

.chat form {
    background: #4D493E !important;
    margin-left: 0;
    margin-right: 0;
    height: 106px;
    border-left: 1px solid #C8C2AA;
    padding-left: 10px;
    padding-right: 10px;
}
.chat form .channelTextArea-rNsIhG {
    margin-top: 30px;
}
.chat form .channelTextArea-rNsIhG .inner-zqa7da {
    border-radius: 0;
}

.contents-18-Yxp svg path {
    fill: #C8C2AA !important;
}
.contents-18-Yxp .spriteNormal-1wvG5n {
    filter: sepia(100%);
}

.textArea-2Spzkt {
    color: #C8C2AA !important;
}

/* ===== Member list ===== */

.members-1998pB {
    background-color: #C8C2AA !important;
}

.membersGroup-v9BXpm,
.activityText-sLG0UL {
    color: #4D493E !important;
}

/* ===== Setting backgrounds to transparent ===== */

.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ,
.container-2lgZY8,
.theme-dark .guildsWrapper-5TJh6A, /* Sidebar */
.channels-Ie2l6A, /* Name list container */
.container-PNkimc, /* Name list */
.container-1UB9sr, /* Voice connected */
.container-2Thooq, /* Name (mute/deafen/settings) */
.chat .messages-wrapper /* Message wrappers */ {
    background: transparent;
}

.guild-1EfMGQ .guildInner-3DSoA4, /* Sidebar channel icons */
.chat, /* Chat background */
.chat .content, /* Chat content background */
.membersGroup-v9BXpm, /* Member list */
.title-3qD0b-, .titleCall-_b9o8P /* Title area */ {
    background: transparent !important;
}
