:root {
    --light-color: #C8C2AA;
    --dark-color: #4D493E;
}

div[class*="appMount"] /* Background */ {
    background: url(https://i.imgur.com/PmYI9Mu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div[class*="guildsWrapper-"] /* Sidebar */ {
    width: 100px;
}

div[class*="scrollerWrap-"] /* Sidebar scroll wrapper */ {
    width: 100%;
}

div[class*="guilds-"] /* All server icons */ {
    padding-left: 0;
}

/* ===== Guild icon ===== */

div[class*="guild-"], /* Individual icon */
button[class*="guild-"] {
    height: 35px;
    overflow: hidden;
    width: 100%;
    background: #C8C2AA;
    border: 1px solid transparent;
    margin-top: 15px !important;
    transition: all 0.2s;
}

div[class*="guild-"] > div,
div[class*="guildInner-"],
div[class*="guild-"] div[class*="guildInner-"] a {
    height: 100%;
    width: auto;
}

div[class*="guild-"] div[class*="guildIcon-"] /* Guild image */ {
    height: 100%;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s;
    filter: sepia(75);
}

div[class*="guild-"]:hover {
    background-color: transparent;
    border-color: #4D493E;
    color: #C8C2AA;
}
div[class*="guild-"]:hover div[class*="guildInner-"]::before{
    width: 100%;
}

div[class*="guild-"] div[class*="guildInner-"]::before, /* Black bar */
button[class*="guildsAdd-"]::before {
    content: "";
    position: absolute;

    left: 0;
    top: 3px;
    bottom: 3px;
    width: 0;
    background-color: #4D493E;
    transition: width .2s;
    z-index: -1;
}

/* ===== Currently selected guild ===== */

div[class*="guild-"][class*="selected-"] /* Icon container */ {
    border-color: #4D493E;
    background-color: transparent;
}
div[class*="guild-"][class*="selected-"] div[class*="guildIcon-"] /* Icon picture */ {
    filter: sepia(0%);
}
div[class*="guild-"][class*="selected-"] div[class*="guildInner-"]::before /* Icon black bar */ {
    width: 100%;
}

/* ===== Unread guild ===== */
div[class*="theme-"] div[class*="guild-"][class*="unread-"]::before,
div[class*="guild-"][class*="unread-"]::before {
    left: 8px;
    background: transparent;
    background-image: url(https://i.imgur.com/pb3CYol.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -18px;
    font-size: 1.5em;
    color: #4D493E;
    height: 100%;
    width: 15px;
}

div[class*="theme-"] div[class*="guild-"][class*="unread-"]:hover::before,
div[class*="guild-"][class*="unread-"]::before,
div[class*="guild-"][class*="selected-"][class*="unread-"]::before,
div[class*="theme-"] div[class*="guild-"][class*="selected-"][class*="unread-"]::before {
    background-image: url(https://i.imgur.com/VwWhoEy.png);
}

/* ===== Home icon ===== */

div[class*="guilds-"] > div[class*="guild-"]:nth-child(1) /* Home icon */ {
    width: 67px;
    height: 75px;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;

    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

div[class*="guilds-"] > div[class*="guild-"]:nth-child(1)[class*="selected-"] /* Home icon selected */,
div[class*="guilds-"] > div[class*="guild-"]:nth-child(1):hover /* Home icon hover */ {
    border-color: transparent;
    animation: none;
}
div[class*="guilds-"] > div[class*="guild-"]:nth-child(1) div[class*="guildInner-"]::before { /* Home icon selected black bar */
    background-color: transparent;
}

div[class*="guilds-"] > div[class*="guild-"]:nth-child(1) a /* Home icon link */ {
    background-image: url(https://i.imgur.com/yyiIoTm.png);
    background-size: cover;
    background-repeat: no-repeat;
}
div[class*="guilds-"] > div[class*="guild-"]:nth-child(1) svg /* Home icon Discord svg */ {
    display: none;
}

@keyframes spin /* Spin animation */ {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

/* ===== Guild Public icon ===== */

div[class*="guilds-"] > div[class*="guild-"]:nth-child(2) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-left-color: transparent;
    border-right-color: transparent;
}
div[class*="guilds-"] > div[class*="guild-"]:nth-child(2) a {
    color: #4D493E !important;
}
div[class*="guilds-"] > div[class*="guild-"]:nth-child(2):hover a {
    color: #C8C2AA !important;
}

/* ===== Guild Friends online ===== */

div[class*="friendsOnline-"] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: #4D493E !important;
}

/* ===== Guild DMs ===== */

span[class*="dms-"] {
    background-color: #C8C2AA;
}
span[class*="dms-"] div[class*="guildInner-"] a {
    width: 100%;
}

/* ===== Guild seperator ===== */

div[class*="guildSeparator-"] {
    width: 100%;
}

/* ===== Notifications ===== */

div[class*="guild-"] div[class*="avatar-small-"],
div[class*="guild-"] div[class*="avatar-small-"] a {
    width: 100%;
    height: 100%;
    background-size: contain;
}

/* ===== New guild ===== */

button[class*="guildsAdd-"] /* Initial icon */ {
    border-radius: 0;
    background-color: #C8C2AA !important;
    color: #4D493E !important;
    border: 1px solid transparent !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}
button[class*="guildsAdd-"]:hover /* Initial icon hover */ {
    border-color: #4D493E !important;
    background-color: transparent;
    color: #C8C2AA !important;
}
button[class*="guildsAdd-"]:hover::before /* Icon black bar hover */ {
    width: 100%;
}

span[class*="guildsAddInner-"] /* Icon inner text */ {
    top: -5px;
}

/* ===== Tooltips ===== */

.tooltip {
    background-color: #4D493E !important;
    color: #C8C2AA !important;
}
.tooltip.tooltip-top::after {
    border-top-color: #4D493E !important;
}
.tooltip.tooltip-bottom::after {
    border-bottom-color: #4D493E !important;
}
.tooltip.tooltip-right::after {
    border-right-color: #4D493E !important;
}
.tooltip.tooltip-left::after {
    border-left-color: #4D493E !important;
}

/* ===== Guild speaking icon ===== */

div[class*="guild-"][class*="audio-"] div[class*="guildInner-"]::after,
div[class*="guild-"][class*="video-"] div[class*="guildInner-"]::after {
    right: 4px !important;
    top: 5px !important;
    background-color: #4D493E !important;
}

/* ===== Guild placeholder ===== */

div[class*="guildPlaceholder-"] {
    border-radius: 0;
    border: none;
    background-color: #4D493E;
}

/* ===== Windows buttons ===== */

div[class*="winButtonClose-"] svg polygon /* Close button */ {
    fill: #4D493E;
}
div[class*="winButtonClose-"]:hover /* Close button hover */ {
    background-color: #4D493E;;
}
div[class*="winButtonClose-"]:hover svg polygon /* Close button hover icon */ {
    fill: #C8C2AA;
}

div[class*="winButtonMinMax-"] svg[name="TitleBarMaximize"] rect /* Maximize button */ {
    stroke: #4D493E;
}
div[class*="winButtonMinMax-"]:hover svg[name="TitleBarMaximize"] rect /* Mazimize button hover */{
    stroke: #C8C2AA;
}

div[class*="winButtonMinMax-"] svg[name="TitleBarMinimize"] rect /* Minimize button */ {
    fill: #4D493E;
}
div[class*="winButtonMinMax-"]:hover svg[name="TitleBarMinimize"] rect /* Minimize button hover */ {
    fill: #C8C2AA;
}

/* ===== Wordmark ===== */

div[class*="wordmark-"] svg path {
    fill: #4D493E;
}

div[class*="titleBar-"]::after {
    color:#fff;
    position:absolute;
    left:0
}

/* ===== Unread message indicator ===== */

div[class*="unread-"] {
    box-shadow: none !important;
}

/* ===== Channel container ===== */

div[class*="channels-"] /* Container background */ {
    background-color: #C8C2AA !important;
}

header[class*="header-"] /* Container header */ {
    background-color: #4D493E !important;
    color: #C8C2AA;
    box-shadow: none;
    border-right: 1px solid #C8C2AA;
}

header[class*="header-"] svg g path:nth-child(2),
header[class*="header-"] svg g path:nth-child(3) {
    stroke: #C8C2AA;
}

/* ===== Channels ===== */

div[class*="channels-"] div[class*="content-"] /* Channel containers */ {
    margin-left: 0;
    border-radius:0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
div[class*="channels-"] div[class*="content-"]::before /* Channel containers black bar */ {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    bottom: 3px;
    width: 0;
    background-color: #4D493E;
    transition: width .2s;
}

div[class*="channels-"] div[class*="contentSelectedText-"],
div[class*="channels-"] div[class*="contentHoveredText-"],
div[class*="channels-"] div[class*="contentConnectedVoice-"],
div[class*="channels-"] div[class*="contentHoveredVoice-"] {
    border-color: #4D493E !important;
    background-color: transparent;
}

div[class*="channels-"] div[class*="contentSelectedText-"]::before,
div[class*="channels-"] div[class*="contentHoveredText-"]::before,
div[class*="channels-"] div[class*="contentConnectedVoice-"]::before,
div[class*="channels-"] div[class*="contentHoveredVoice-"]::before {
    width: 100%;
}

div[class*="name-"] {
    color: #4D493E;
    z-index: 2;
}

div[class*="name-"][class*="nameConnectedText-"],
div[class*="name-"][class*="nameConnectedVoice-"],
div[class*="name-"][class*="nameSelectedText-"],
div[class*="name-"][class*="nameSelectedVoice-"],
div[class*="name-"][class*="nameHoveredText-"],
div[class*="name-"][class*="nameHoveredVoice-"],
div[class*="contentHoveredText-"] div[class*="name-"][class*="nameUnreadText-"] {
    color: #C8C2AA;
}

/* ===== Channel groups ===== */

svg[class*="iconDefault-"] path,
svg[class*="iconHovered-"] path,
svg[class*="iconHoveredCollapsed-"] path,
svg[class*="iconMuted-"] path,
svg[class*="iconUnread-"] path,
svg[class*="iconCollapsed-"] path {
    fill: #4D493E;
}

div[class*="nameDefault-"],
div[class*="nameHovered-"],
div[class*="nameHoveredCollapsed-"],
div[class*="nameCollapsed-"] {
    color: #4D493E;
}

/* ===== Icons ===== */

svg[class*="icon-"] path {
    fill: #4D493E;
    opacity: 1;
}

svg[class*="icon-"][class*="colorConnectedText-"] path,
svg[class*="icon-"][class*="colorConnectedVoice-"] path,
svg[class*="icon-"][class*="colorHoveredText-"] path,
svg[class*="icon-"][class*="colorHoveredVoice-"] path,
svg[class*="icon-"][class*="colorLockedText-"] path,
svg[class*="icon-"][class*="colorLockedVoice-"] path,
svg[class*="icon-"][class*="colorSelectedText-"] path,
svg[class*="icon-"][class*="colorSelectedVoice-"] path,
div[class*="actionIcon-"] svg path {
    fill: #C8C2AA;
}

/* ===== Connection status ===== */

.container-1UB9sr /* Connection container */ {
    background-color: #4D493E !important;
    border-color: #C8C2AA;
}

.container-1UB9sr a[class*="channel-"] /* Channel Name */ {
    color: #C8C2AA;
}

/* ===== User / Settings ===== */

.container-2Thooq /* Container */ {
    background-color: #4D493E !important;
}

.username {
    color: #C8C2AA;
}

/* ===== Content text ===== */

.markup-2BOw-j {
    color: #4D493E !important;
}

/* ===== Content header ===== */

.titleWrapper-1l0xT9 /* Background */ {
    background-color: #4D493E;
}

.title-3qD0b- {
    box-shadow: none !important;
}

.channelName-3stJzi /* Name */ {
    color: #C8C2AA !important;
}

.channelName-3stJzi svg path, /* Pound icon */
.iconMargin-2YXk4F svg[name="NotificationBell"] g path,
.iconMargin-2YXk4F svg[name="NotificationBellOff"] g path,
.iconMargin-2YXk4F svg[name="Pin"] g path.iconForeground-3y9f0B,
.iconMargin-2YXk4F svg[name="People"] g path,
.iconMargin-2YXk4F svg[name="Mention"] path,
.iconMargin-2YXk4F svg[name="QuestionMark"] path {
    fill: #C8C2AA;
}

/* ===== Content body ===== */

.timestampCozy-2hLAPV {
    color: #4D493E !important;
}

.chat .divider > span,
.chat .divider:before /* Divider */ {
    color: #C8C2AA !important;
    background-color: #4D493E !important;
    border-radius: 0;
}

/* ===== Content scrollbar ===== */

.scroller-wrap .scroller::-webkit-scrollbar {
    height: 8px;
    width: 5px;
}

.scroller-wrap .scroller::-webkit-scrollbar-corner {
    background-color: transparent;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    background-color: rgba(32,34,37,.6);
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: move;
}

.scroller-wrap .scroller::-webkit-scrollbar-track {
    visibility: hidden;
    background-clip: padding-box;
    border-radius: 7.5px;
    border-style: solid;
    background-color: transparent;
    border: 3px solid transparent;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}

/* ===== Content form ===== */

.chat-3bRxxu form {
    background: #4D493E !important;
    margin-left: 0;
    margin-right: 0;
    border-left: 1px solid #C8C2AA;
    padding-left: 10px;
    padding-right: 10px;
}

.chat-3bRxxu form .channelTextArea-rNsIhG .inner-zqa7da {
    border-radius: 0;
}

.contents-18-Yxp svg path {
    fill: #C8C2AA !important;
}
.contents-18-Yxp .spriteNormal-1wvG5n {
    filter: sepia(100%);
}

.textArea-2Spzkt {
    color: #C8C2AA !important;
}

/* ===== Member list ===== */

.members-1998pB {
    background-color: #C8C2AA !important;
}

.membersGroup-v9BXpm,
.activityText-sLG0UL {
    color: #4D493E !important;
}

/* ===== Setting backgrounds to transparent ===== */

.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ,
.container-2lgZY8,
.theme-dark .guildsWrapper-5TJh6A, /* Sidebar */
.channels-Ie2l6A, /* Name list container */
.container-PNkimc, /* Name list */
.container-1UB9sr, /* Voice connected */
.container-2Thooq, /* Name (mute/deafen/settings) */
.chat .messages-wrapper /* Message wrappers */ {
    background: transparent;
}

.content-yTz4x3,
.messagesWrapper-3lZDfY,
.chat-3bRxxu,
.guild-1EfMGQ .guildInner-3DSoA4, /* Sidebar channel icons */
.chat, /* Chat background */
.chat .content, /* Chat content background */
.membersGroup-v9BXpm, /* Member list */
.title-3qD0b-, .titleCall-_b9o8P /* Title area */ {
    background: transparent !important;
}
