@css {
    //META{"name":"YoRHa","description":"A Better Discord theme designed with the same principles as the UI from NieR: Automata.","author":"GOmonkeymanGO","version":"0.5","website":"https://github.com/ChaseIngebritson/YoRHa-Discord-Theme"}*//{}
}

// Variables

light-color = #C8C2AA;
dark-color = #4D493E;

// Mixins

background-fill() { // Fills in the background of an element with a dark box
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    bottom: 3px;
    width: 0;
    background-color: dark-color;
    transition: width .2s;
}

spin-animation(duration) {
    animation-name: spin;
    animation-duration: duration;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

// Keyframes

@keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

// Begin Styles

.da-appMount {
    background: url(https://i.imgur.com/PmYI9Mu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// ===== Sidebar Wrapper =====

.da-guildsWrapper {
    width: 100px;
}

.da-scrollerWrap {
    width: 100%;
}

.da-guilds {
    padding-left: 0;

    // ===== Guild icon =====
    > .guild-1EfMGQ {
        height: 35px;
        overflow: hidden;
        width: 100%;
        background: light-color;
        border: 1px solid transparent;
        margin-top: 15px;
        transition: all 0.2s;

        &:hover {
            background-color: transparent;
            border-color: dark-color;
            color: light-color;

            .da-guildInner::before {
                width: 100%;
            }

            .da-badge {
                color: light-color;
            }
        }

        & > div,
        .da-guildInner,
        .da-guildInner a {
            height: 100%;
            width: auto;
        }

        .da-guildIcon {
            height: 100%;
            width: 35px;
            margin-left: auto;
            margin-right: auto;
            transition: all 0.2s;
            filter: sepia(75);
        }

        .da-guildInner::before,
        &.da-guildsAdd::before {
            background-fill();
            z-index: -1;
        }

        // ===== Currently selected guild =====
        &.selected-ML3OIq {
            border-color: dark-color;
            background-color: transparent;

            .da-guildIcon {
                filter: sepia(0%);
            }

            .da-guildInner::before {
                width: 100%;
            }
        }

        // ===== Home icon =====
        &:nth-child(1) {
            width: 67px;
            height: 75px;
            background-color: transparent;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;

            spin-animation(4s);

            &.selected-ML3OIq,
            &:hover {
                border-color: transparent;
                animation: none;
            }

            .da-guildInner::before {
                background-color: transparent;
            }

             a {
                background-image: url(https://i.imgur.com/yyiIoTm.png);
                background-size: cover;
                background-repeat: no-repeat;
            }

            svg {
                display: none;
            }
        }

        // ===== Guild Public icon =====
        &:nth-child(2) {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            border-left-color: transparent;
            border-right-color: transparent;

            a {
                color: dark-color;
            }

            &:hover a {
                color: light-color;
            }
        }

        // ===== New guild =====
        &.da-guildsAdd {
            border-radius: 0;
            background-color: light-color;
            color: dark-color;
            border: 1px solid transparent;
            border-left-width: 0;
            border-right-width: 0;

            &:hover {
                border-color: dark-color;
                background-color: transparent;
                color: light-color;

                &::before {
                    width: 100%;
                }
            }

            .da-guildsAddInner {
                top: -5px;
            }
        }

        // ===== Unread guild =====
        &.unread-qLkInr {
            &::before {
                left: 8px;
                background: transparent;
                background-image: url(https://i.imgur.com/pb3CYol.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-top: -18px;
                font-size: 1.5em;
                color: dark-color;
                height: 100%;
                width: 15px;
                z-index: 2;
            }

            &.selected-ML3OIq::before,
            &:hover::before {
                background-image: url(https://i.imgur.com/VwWhoEy.png);
            }
        }

        // ===== Active Indicator =====
        &.audio-3vVhBi,
        &.da-video { // TODO: This probably needs to be changed
            &::after {
                background-color: dark-color;
                right: 4px;
                top: 7px;
                width: 20px;
                height: 20px;
            }

            &:hover {
                &::after {
                    background-color: transparent;
                }
            }
        }

        .da-badge {
            background-color: transparent;
            bottom: -15px;
            right: 3px;
            color: dark-color;
        }
    }

    // ===== Guild Friends online =====
    .da-friendsOnline {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        color: dark-color;
    }

    // ===== Guild DMs =====
    .da-dms {
        background-color: light-color;
        height: auto;

        .da-guild,
        .da-guildInner,
        .da-guildInner a,
        .da-avatarSmall,
        .da-wrapper {
            height: 35px;
            width: 100%;
        }
    }

    // ===== Guild seperator =====
    .da-guildSeparator {
        width: 100%;
    }
}

// ===== Tooltips =====
.tooltip {
    background-color: dark-color;
    color: light-color;

    &.tooltip-top::after {
        border-top-color: dark-color;
    }

    &.tooltip-bottom::after {
        border-bottom-color: dark-color;
    }

    &.tooltip-right::after {
        border-right-color: dark-color;
    }

    &.tooltip-left::after {
        border-left-color: dark-color;
    }
}

// ===== Title Bar =====
.da-titleBar {
    &::after {
        color:#fff;
        position:absolute;
        left:0
    }

    // ===== Wordmark =====
    .da-wordmark svg path {
        fill: dark-color;
    }

    // ===== Windows buttons =====
    .da-winButton {
        &:hover {
            background-color: dark-color;

            svg {
                &[name="TitleBarMinimize"] rect,
                polygon {
                    fill: light-color;
                }

                &[name="TitleBarMaximize"] rect {
                    stroke: light-color;
                }
            }
        }

        svg {
            &[name="TitleBarMinimize"] rect,
            polygon {
                fill: dark-color;
            }

            &[name="TitleBarMaximize"] rect {
                stroke: dark-color;
            }
        }
    }
}

// ===== Channel Container =====
.da-channels {
    background-color: light-color;

    // ===== Channels Header =====
    .da-header {
        background-color: dark-color;
        color: light-color;
        box-shadow: none;
        border-right: 1px solid light-color;

        svg g path {
            &:nth-child(2),
            &:nth-child(3) {
                stroke: light-color;
            }
        }
    }

    // ===== Channels =====
    .content-20Aix8 {
        margin-left: 0;
        border-radius:0;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &::before {
            background-fill();
        }

        svg {
            color: dark-color;
        }

        &.contentSelectedText-3wUhMi,
        &.contentHoveredText-2D9B-x,
        &.contentConnectedVoice-qL-YrL,
        &.contentHoveredVoice-3p_NEO {
            border-color: dark-color;
            background-color: transparent;

            &::before {
                width: 100%;
            }

            // TODO: Fix the classes
            .da-nameUnreadText {
                color: light-color;
            }

            svg {
                color: light-color;
            }
        }

        .name-3M0b8v {
            color: dark-color;
            z-index: 2;

            &.da-nameConnectedText,
            &.da-nameConnectedVoice,
            &.nameSelectedText-sp_EUw,
            &.da-nameSelectedVoice,
            &.nameHoveredText-1uO31y,
            &.nameHoveredVoice-YJ1Vfd {
                color: light-color;
            }
        }
    }

    // ===== Channel Groups =====
    .da-containerDefault {
        // TODO: Fix the classes
        .iconDefault-3Gr8d2,
        .iconHovered-2L3-fB
        .iconHoveredCollapsed-3caIIZ,
        .da-iconMuted,
        .da-iconUnread,
        .iconCollapsed-3hFp_8 {
            path {
                fill: dark-color;
            }
        }

        .nameDefault-2DI02H,
        .nameHovered-1gxhWH
        .nameHoveredCollapsed-2orEWB
        .nameCollapsed-34uFWo {
            color: dark-color;
        }
    }

    // ===== Channel Icons =====
    .da-icon {
        &.da-colorConnectedText,
        &.da-colorConnectedVoice,
        &.da-colorHoveredText,
        &.da-colorHoveredVoice,
        &.da-colorLockedText,
        &.da-colorLockedVoice,
        &.da-colorSelectedText,
        &.da-colorSelectedVoice {
            path {
                fill: light-color;
            }
        }

        path {
            fill: dark-color;
        }
    }
    .da-actionIcon svg path {
        fill: light-color;
    }

    // ===== User/Settings =====
    .container-2Thooq {
        background-color: dark-color;

        .username {
            color: light-color;
        }
    }
}

// ===== Chat Container =====
.da-chat {

    // ===== Title Bar =====
    .da-titleWrapper {
        background-color: dark-color;

        .da-title {
            box-shadow: none;

            .da-topic,
            .da-channelName {
                color: light-color;

                svg path {
                    fill: light-color;
                }
            }

            .da-iconForeground {
                fill: light-color;
            }
        }
    }

    .da-newMessagesBar {
        background-color: dark-color;
        border-radius: 0;
        border-top: 1px solid light-color;

        button {
            color: light-color;
        }
    }

    .da-jumpToPresentBar {
        background-color: dark-color;
        border-radius: 0;
        border-bottom: 1px solid light-color;

        &:hover {
            background-color: dark-color;
        }

        button {
            color: light-color;
        }
    }

    // ===== Message Content =====
    .da-messages {
        .da-timestampCozy {
            color: dark-color;
        }

        .da-divider {
            .da-dividerContent {
                color: dark-color;
            }

            &::before,
            &::after {
                border-color: dark-color;
            }
        }

        .wrapper-3WhCwL,
        .da-mention {
            background-color: dark-color;
            color: light-color;
        }

        .da-wrapperAudio,
        .da-attachment,
        .da-embed,
        .da-markup pre,
        .da-markup code,
        .da-markup code.inline,
        .wrapper-35wsBm {
            border-radius: 0;
            border-color: dark-color;
            background-color: dark-color;
        }

        .da-metadataIcon,
        .da-downloadButton,
        .da-markup code,
        .wrapper-35wsBm * {
            color: light-color;
        }

        .da-buttonContainer div {
            visibility: visible;
        }

        .da-reactions .da-reaction {
            background-color: dark-color;
            border-radius: 0;
            filter: sepia(50%);
            transition: all 0.2s;

            &:hover {
                filter: sepia(0%);
            }

            .da-reactionCount {
                color: light-color;
            }
        }
    }

    // ===== Content Form =====
    form {
        background-color: dark-color !important;
        margin-left: 0;
        margin-right: 0;
        border-left: 1px solid light-color;
        padding-left: 10px;
        padding-right: 10px;

        .da-typing {
            background-color: dark-color;
            padding-left: 10px;

            span {
                color: light-color;
            }
        }

        .da-channelTextArea .da-inner {
            border-radius: 0;

            .da-textArea {
                color: light-color;
            }

            .da-contents {
                svg path {
                    fill: light-color;
                }

                .sprite-2iCowe {
                    filter: sepia(100%);
                }
            }
        }
    }
}

// ===== Scroller =====
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap,
.theme-light .messagesWrapper-3lZDfY .scroller-wrap,
.scroller-wrap {
    .scroller {
        &::webkit-scrollbar {
            height: 8px;
            width: 5px;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(32,34,37,.6);
            border: 2px solid transparent;
            border-radius: 4px;
            cursor: move;
        }

        &::-webkit-scrollbar-track {
            visibility: hidden;
            background-clip: padding-box;
            border-radius: 7.5px;
            border-style: solid;
            background-color: transparent;
            border: 3px solid transparent;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: transparent;
            border-color: transparent;
        }
    }
}

// ===== Members Wrap =====
.da-membersWrap {
    .da-members {
        background-color: transparent;

        .member-3W1lQa {
            position: relative;
            margin-left: 0;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-radius: 0;
            color: #4D493E;

            svg .da-activityIconForeground {
                fill: dark-color;
            }

            &:hover,
            &.popout-open {
                border-color: dark-color;

                .da-content,
                .da-activityText,
                svg .da-activityIconForeground {
                    color: light-color;
                    fill: light-color;
                    background-color: transparent;
                    z-index: 2;
                }

                &::before {
                    width: 100%;
                }
            }

            &::before {
                background-fill();
            }

            .da-bot {
                border-radius: 0;
                filter: sepia(75%);
            }
        }

        .da-membersGroup,
        .da-activityText {
            color: dark-color;
        }
    }
}

.theme-dark,
.theme-light {
    &.da-popouts {
        .da-container {
            background-color: dark-color;
            border-radius: 0;

            .da-option {
                &:after {
                    background-image: none;
                }
            }
        }

        .da-messagesPopoutWrap {
            background-color: transparent;
            box-shadow: none;
            border: 0;

            .da-header {
                display: none;
            }

            .da-messageGroupWrapper {
                background-color: light-color;
                border: 0;
                border-radius: 0;

                .da-containerCozy {
                    background-color: light-color;

                    .da-timestampCozy {
                        color: dark-color;
                    }

                    .da-wrapperAudio,
                    .da-attachment,
                    .da-embed,
                    .da-markup pre,
                    .da-markup code,
                    .da-markup code.inline,
                    .wrapper-35wsBm {
                        border-radius: 0;
                        border-color: dark-color;
                        background-color: dark-color;
                    }

                    .da-metadataIcon,
                    .da-downloadButton,
                    .da-markup code,
                    .wrapper-35wsBm * {
                        color: light-color;
                    }

                    .da-actionButtons {
                        background-color: transparent;
                        box-shadow: none;

                        .da-jumpButton,
                        .da-closeButton {
                            background-color: dark-color;
                            border-radius: 0;
                        }

                        .da-closeButton {
                            height: 18px;
                            margin-top: 0;
                        }
                    }

                    &:hover {
                        .da-closeButton {
                            opacity: 0.9;
                        }
                    }
                }
            }
            .da-channelSeparator {
                background-color: light-color;
                margin-bottom: 0;
                margin-top: 0;
                padding: 10px;

                .da-channelName,
                .da-guildName {
                    color: dark-color;
                }

                .da-guildName {
                    opacity: 0.3;
                }
            }
            .da-scrollingFooterWrap {
                background-color: light-color;

                .da-body {
                    color: dark-color;
                }
            }
        }
    }
}

// ===== Private Channels =====
.da-privateChannels {
    .search-bar {
        border-radius: 0;
        background-color: dark-color;

        input {
            color: light-color;
        }
    }

    header {
        color: dark-color;
        opacity: 1;
    }

    .da-channel {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &::before {
            background-fill();
        }

        &:hover,
        &.da-selected {
            border-color: dark-color;

            &::before {
                width: 100%;
            }

            a {
                background-color: transparent;
                color: light-color;

                .da-name,
                .da-activity {
                    color: light-color;
                }
            }
        }

        a {
            border-radius: 0;
            color: dark-color;

            * {
                z-index: 2;
            }

            .da-name,
            .da-activity {
                color: dark-color;
                opacity: 0.9;
            }
        }
    }
}

/* ===== Notifications ===== */
// TODO: Replace
div[class*="guild-"] div[class*="avatar-small-"],
div[class*="guild-"] div[class*="avatar-small-"] a {
    width: 100%;
    height: 100%;
    background-size: contain;
}

/* ===== Guild placeholder ===== */
// TODO: Replace
div[class*="guildPlaceholder-"] {
    border-radius: 0;
    border: none;
    background-color: #4D493E;
}

/* ===== Connection status ===== */
// TODO: Replace
.container-1UB9sr /* Connection container */ {
    background-color: #4D493E !important;
    border-color: #C8C2AA;
}
.container-1UB9sr a[class*="channel-"] /* Channel Name */ {
    color: #C8C2AA;
}

/* ===== Content text ===== */
// TODO: Replace
div[class*="markup-"] {
    color: #4D493E !important;
}





/* ===== Setting backgrounds to transparent ===== */

.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ,
.container-2lgZY8,
.theme-dark .guildsWrapper-5TJh6A,
.channels-Ie2l6A,
.container-PNkimc,
.container-1UB9sr,
.container-2Thooq,
.chat .messages-wrapper{
    background: transparent;
}

.content-yTz4x3,
.messagesWrapper-3lZDfY,
.chat-3bRxxu,
.guild-1EfMGQ .guildInner-3DSoA4,
.chat,
.chat .content,
.membersGroup-v9BXpm,
.title-3qD0b-, .titleCall-_b9o8P {
    background: transparent !important;
}
